@import "../../App.scss";

.image-cropper {
  height: 50%;
  display: flex;
  flex-direction: column;

  .image-name {
    padding: 15px;
    border-bottom: 1px solid $light-blue;
  }

  .original-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $dark-gray;

    .original-image {
      position: absolute;
      max-height: 90%;
      max-width: 90%;
    }

    #canvas-element {
      position: absolute;
      max-height: 90%;
      max-width: 90%;
      border: 1px solid white;

      &:hover {
        cursor: crosshair;
      }
    }
  }
}

.no-image {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header {
    padding: 15px;
    border-bottom: 1px solid $light-blue;
  }

  .description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $dark-gray;

    .image-icon {
      width: 48px;
      margin-bottom: 20px;
    }
  }
}
