@import "../../App.scss";

.image-cropper-container {
  flex: 1;

  display: flex;
  flex-direction: column;

  .cropped-preview {
    flex: 1;
    display: flex;
    flex-direction: column;

    .title {
      padding: 15px;
      border-top: 1px solid $light-blue;
      border-bottom: 1px solid $light-blue;
    }

    .cropped-image-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
