.image-item-container {
  display: flex;
  padding: 15px;

  .image-icon {
    width: 18px;
    margin-right: 15px;
  }

  .name {
    flex: 1;
  }

  .delete-icon {
    width: 18px;
    cursor: pointer;
  }
}
