@import "../../App.scss";

.image-item-container {
  display: flex;
  padding: 15px;
  cursor: pointer;
  align-items: center;

  &:hover {
    color: $light-blue;
  }

  .image-icon {
    width: 18px;
    margin-right: 15px;
  }

  .name {
    flex: 1;
  }

  .delete-icon {
    width: 10px;
    height: 10px;
    cursor: pointer;
  }
}
