@import "../../App.scss";

.setting-container {
  width: 500px;
  border-left: 1px solid $light-blue;

  .save-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .save-content-header {
      margin: 8px 0;
      color: $light-blue;
    }

    .input-button-group {
      height: 35px;
      display: flex;

      .image-name-input {
        flex: 1;
        border: 1px solid $light-blue;
        height: 100%;
        border-left: none;
        padding: 0 10px;
        border-radius: 4px 0 0 4px;

        &:focus {
          outline: none;
        }
      }

      button {
        width: 190px;
        background-color: $light-blue;
        color: $dark-blue;
        border: 1px solid $light-blue;
        border-radius: 0 4px 4px 0;
        border-left: none;
        height: 100%;
        cursor: pointer;

        &:hover {
          background-color: $dark-blue;
          color: $light-blue;
        }
      }
    }

    .button-asdfa {
      height: 100%;
      border: 1px solid $light-blue;
      background-color: $dark-blue;
      color: $light-blue;
      cursor: pointer;
      border-radius: 4px;

      &:hover {
        background-color: $light-blue;
        color: $dark-blue;
      }
    }
  }
}
