@import "../../App.scss";

.setting-container {
  width: 500px;
  border-left: 1px solid $light-blue;
  padding: 15px;

  .individual-image-setting {
    .title {
      color: $light-blue;
      margin-bottom: 15px;
    }

    .setting-button {
      width: 100%;
      height: 40px;
      border: 1px solid $light-blue;
      border-radius: 4px;
      background-color: $dark-blue;
      color: $light-blue;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &:focus {
        outline: none;
      }

      &:hover {
        opacity: 0.8;
      }

      .check-icon {
        margin-left: 10px;
        width: 16px;
      }
    }

    .input-button-group {
      width: 100%;
      height: 40px;
      display: flex;

      input {
        flex: 1;
        height: 100%;
        border: 1px solid $light-blue;
        border-radius: 4px 0 0 4px;
        padding: 0 10px;

        &:focus {
          outline: none;
        }
      }

      button {
        width: 190px;
        background-color: transparent;
        color: $light-blue;
        border: 1px solid $light-blue;
        border-radius: 0 4px 4px 0;
        border-left: none;
        height: 100%;
        cursor: pointer;

        &:hover {
          background-color: $dark-blue;
          color: $light-blue;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  .all-image-setting {
    .title {
      color: $light-blue;
      margin: 15px 0;
    }

    .setting-button {
      width: 100%;
      height: 40px;
      border: 1px solid $light-blue;
      border-radius: 4px;
      background-color: $dark-blue;
      color: $light-blue;
      cursor: pointer;

      &:hover {
        background-color: $light-blue;
        color: $dark-blue;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .keyboard-shortcuts-container {
    .title {
      color: $light-blue;
      margin: 15px 0;
    }
  }

  .disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
  }
}
