@import "../../App.scss";

.header-container {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $light-blue;

  .menu-item {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    text-decoration: none;

    &:hover {
      background-color: $light-blue;
      color: $dark-blue;
    }
  }
}
